
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                &copy; <a href="https://github.com/tngaspar" rel="noreferrer noopener" target="_blank">Tiago Gaspar</a> 
              </span>
              <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                UI based on <a target="_blank" href="https://github.com/app-generator/jinja-corona-dark">Jinja Corona Dark</a>,
                by <a target="_blank" rel="noreferrer noopener" href="https://appseed.us">AppSeed</a> 
              </span>
            </div>
          </footer>
          <!-- partial -->
